<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title><%=pagetitle%></title>
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="edge" />
    <link rel="stylesheet" type="text/css" href="/app_themes/insdep/easyui.css" />
    <link href="/app_themes/insdep/insdep_theme_default.css" rel="stylesheet" type="text/css">
    <link href="/app_themes/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--Jquery and easyUI's javascripts -->    
    <script type="text/javascript" src='/scripts/jquery-3.1.1.min.js'></script>
    <script type="text/javascript" src='/scripts/jquery-easyui/jquery.easyui.min.js'></script>
    <script type="text/javascript" src='/scripts/jquery-easyui/locale/easyui-lang-zh_cn.js'></script>
    <script type="text/javascript" src="/app_themes/insdep/jquery.insdep-extend.min.js"></script>
    <!--framework's javascripts -->    
    <script type="text/javascript" src="/scripts/urlconfig.js"></script>
    <script type="text/javascript" src="/scripts/framework/framework_mdipage.js"></script>
    <script type="text/javascript" src="/scripts/framework/framework_formhelper.js"></script>
    <script type="text/javascript" src="/scripts/framework/framework_dialoghelper.js"></script>
    <script type="text/javascript" src="/scripts/framework/framework_apicaller.js"></script>
    <script type="text/javascript" src="/scripts/framework/framework_common.js"></script>
    <script type="text/javascript" src="/scripts/framework/framework_extension.js"></script>

    
    <%-defineContent('head_extension')%>
</head> 
  <%- body%>
</html>