<configuration>
 <system.webServer>
 
   <!-- indicates that the hello.js file is a node.js application 
   to be handled by the iisnode module -->
 
   <handlers>
     <add name="iisnode" path="lunch.js" verb="*" modules="iisnode" scriptProcessor="C:\Program Files\iisnode\iisnode.dll" resourceType="Unspecified" requireAccess="Script" preCondition="bitness64" />
   </handlers>
  
    <!-- use URL rewriting to redirect the entire branch of the URL namespace
    to app.js node.js application; for example, the following URLs will 
    all be handled by app.js:
     
        http://localhost/foo
        http://localhost/bar
         
    -->
  
    <rewrite>
      <rules>
        <rule name="main">
          <match url="/*" />
          <action type="Rewrite" url="lunch.js" />
        </rule>
      </rules>
    </rewrite>
  
    <!-- exclude node_modules directory and subdirectories from serving
    by IIS since these are implementation details of node.js applications -->
     
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>    
     <iisnode nodeProcessCommandLine="&quot;C:\Program Files (x86)\nodejs\node.exe&quot;" interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;" />
  </system.webServer>
</configuration>