<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>授权平台</title>
    <!-- <link rel="stylesheet" type="text/css" href="/app_themes/green/easyui.css" /> -->
    <link rel="stylesheet" type="text/css" href="/app_themes/insdep/easyui.css" />
    <link href="/app_themes/insdep/insdep_theme_default.css" rel="stylesheet" type="text/css">
    <link href="/app_themes/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="/scripts/const.js"></script>
    <script type="text/javascript" src="/scripts/urlconfig.js"></script>
    <script type="text/javascript" src='/scripts/jquery-3.1.1.min.js'></script>
    <script type="text/javascript" src='/scripts/jquery-easyui/jquery.easyui.min.js'></script>
    <script type="text/javascript" src='/scripts/jquery-easyui/locale/easyui-lang-zh_cn.js'></script>
    <script type="text/javascript" src="/scripts/framework/framework_apicaller.js"></script>
    <script type="text/javascript" src="/scripts/framework/framework_formhelper.js"></script>
    <script type="text/javascript" src="/scripts/framework/framework_common.js"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
</head>
<body>
    <div id="login_container"></div>
</body>
</html>
<script>

$(document).ready(function () {
    var obj = new WxLogin({
        id:"login_container", // 需要显示的容器id
        appid: "wx718e3695c5f79f4b",  // 公众号appid wx*******
        scope: "snsapi_login",  // 网页默认即可
        redirect_uri: "https://mall.litecoder.com/component/", // 授权成功后回调的url
        state: "121313", // 可设置为简单的随机数加session用来校验
        style: "black", // 提供"black"、"white"可选。二维码的样式
        href: "" // 外部css文件url，需要https
    });
});
</script>